name: Deploy estimator to 42loc 14 branch

on:
  push:
    paths-ignore:
      - ".github/**"
    branches:
      - 14.0

jobs:
  syntax-fix:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install && use isort
        run: |
              pip install isort
              isort .
      - name: Install && use Black           
        run: |
              pip install black
              black . 
      - uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
  deploy:
    runs-on: ubuntu-latest
    needs:
      - syntax-fix
    steps:
      - name: ls -a via OPEN SSH Private Key
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
                cd /mnt/odoo_14/addons/estim/ 
                git pull https://${{ secrets.MY_LOG }}:${{ secrets.MY_PASS }}@github.com/42LOC/estim.git --branch 14.0 
                docker restart odoo_14
          host: ${{ secrets.HOST_DEV }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASS_HOST_DEV }}
  slack-workflow-status:
    if: always()
    name: Post Workflow Status To Slack
    runs-on: ubuntu-latest
    needs:
      - deploy
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
